{# templates/demo/area_detail.html #}
{% extends "base.html" %}

{% block extra_head %}
  <style>
    table {
      table-layout: fixed;
      width: 100%;
    }
    th, td {
      white-space: normal;
      word-wrap: break-word;
      word-break: break-all;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>{{ year }}年{{ area }} 详情</h1>
  {{ chart_html|safe }}
     <!-- 加在这里：返回上一页按钮 -->
  <div style="margin-top:20px;">
    <button type="button" onclick="window.history.back();">
      « 返回
    </button>
  </div>

{% endblock %}


